
.header__content{
    background-color: $lightgray;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: "Roboto Condensed", sans-serif;
        .header__logo{
            width: 10rem;
            padding-left: 5rem;
        }
        .header__links{
            display: flex;
            justify-content: space-around;
            gap: 3rem;
            padding-right: 6rem;
        }
            a{
                color: $gray;
                text-decoration: none;
            }
            a:hover{
                color: $black;
                transform: scale(1.08);
            }
}
@media (max-width: 750px){
    .header__content{
        flex-direction: column;
        height: 12rem;
        padding: 1rem;
        font-family: "Roboto Condensed", sans-serif;
            .header__logo{
                width: 8rem;
                padding: 1rem;
            }
            .header__links{
                gap: 1rem;
                padding-right: 0rem;
            }
    }

}