$white: #FFFFFF;
$black: #2a2525;
$lightgray:#e2e8eb;
$gray:#808080;
$blue:#4a4ad5;

@mixin h1{
    font-weight: 300;
    font-size: 200%;
    color: $gray;

}
@mixin h2{
    font-weight: 300;
      font-size: 150%;
      text-transform: uppercase;
      columns: $gray;
      opacity: 0.4;

}